{%extends 'authapp/base.html'%}

{%block title%}
Home
{%endblock%}

{%block content%}
  <p><a href="{%url 'signout'%}">
    <button class="btn btn-primary">Logout</button>
  </a></p>
    <div class="text-center">

        <h1>
            Hello, Welcome to Home Page! {{user.first_name}} {{user.last_name}}
        </h1>
    </div>
    <!-- <p><a class="nav-link" href="{%url 'signup'%}">Sign Up</a></p> -->
  <div class="text-center">

      <p ><a class="nav-link" href="{%url 'change-password'%}">Change Password</a></p>
      <p><a class="nav-link" href="{%url 'change-profile'%}">Change Profile</a></p>
      <p><a href="{%url 'delete-account'%}">
          <button class="btn btn-danger">Delete Account</button>
      </a></p>
  </div>
{%endblock%}