<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {%block title%}
        Home
        {%endblock%}
    </title>
</head>
<body>
    <div class="text-center">

        <h1>
            Hello, Welcome to Home Page! {{user.first_name}} {{user.last_name}}
        </h1>
    </div>
    <!-- <p><a class="nav-link" href="{%url 'signup'%}">Sign Up</a></p> -->

    <p ><a class="nav-link" href="{%url 'change-password'%}">Change Password</a></p>
    <p><a class="nav-link" href="{%url 'change-profile'%}">Change Profile</a></p>
</body>
</html>