{%extends 'authapp/base.html'%}
{%block title%}
staff list
{%endblock%}
{%block content%}
<div class="text-center">
    <h2>Staff List</h2>

    <ul>
        {%for staff_member in staff_members%}
        <li>
          <strong>Name:</strong> {{staff_member.first_name}} {{staff_member.last_name}}
          <strong>Username:</strong> {{staff_member.username}} 
          <strong>Email:</strong> {{staff_member.email}}
         <a href="{%url 'edit-staff-employee' staff_member.id%}">
            Edit Staff
         </a>|
        </li>
        {%endfor%}
    </ul>

</div>
{%endblock%}